<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="stylePage.css" />
    </head>
    <body>
        <div class="container">
            <div class="content-container">
                <h1><%= content %></h1>
                <p>
                    Щоб повторити спробу перейдіть за
                    <a href="<%= redirect %>">посиланням.</a>
                </p>
            </div>
        </div>
    </body>
</html>
