<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="stylePage.css" />
    </head>
    <body>
        <div class="container">
            <div class="menu-container">
                <ul class="menu">
                    <li>
                        <a href="/home">Головна</a>
                    </li>
                    <li>
                        <a href="/registration">Реєстрація</a>
                    </li>
                    <li>
                        <a href="/login">Логін</a>
                    </li>
                    <li>
                        <a href="/out">Вийти</a>
                    </li>
                </ul>
            </div>
            <div class="content-container">
                <h1>Вітаємо на тестовій сторінці ;)</h1>
                <p>
                    Можете змінити пароль, натиснувши на
                    <a href="/home">посиланя.</a>
                </p>
            </div>
        </div>
    </body>
    <script src="checkTokenScript.js"></script>
</html>
